--
-- PostgreSQL database dump
--

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: citas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.citas (
    id integer NOT NULL,
    mascota_id integer NOT NULL,
    veterinario_id integer NOT NULL,
    fecha_hora timestamp without time zone NOT NULL,
    motivo character varying(200) NOT NULL,
    estado character varying(20) DEFAULT 'Programada'::character varying,
    notas text,
    CONSTRAINT citas_estado_check CHECK (((estado)::text = ANY ((ARRAY['Programada'::character varying, 'Completada'::character varying, 'Cancelada'::character varying])::text[])))
);


ALTER TABLE public.citas OWNER TO postgres;

--
-- Name: citas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.citas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.citas_id_seq OWNER TO postgres;

--
-- Name: citas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.citas_id_seq OWNED BY public.citas.id;


--
-- Name: citas_servicios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.citas_servicios (
    cita_id integer NOT NULL,
    servicio_id integer NOT NULL,
    precio_acordado numeric(8,2) NOT NULL,
    cantidad integer DEFAULT 1,
    CONSTRAINT citas_servicios_cantidad_check CHECK ((cantidad > 0)),
    CONSTRAINT citas_servicios_precio_acordado_check CHECK ((precio_acordado >= (0)::numeric))
);


ALTER TABLE public.citas_servicios OWNER TO postgres;

--
-- Name: mascotas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mascotas (
    id integer NOT NULL,
    propietario_id integer NOT NULL,
    nombre character varying(60) NOT NULL,
    especie character varying(40) NOT NULL,
    raza character varying(60),
    sexo character(1),
    fecha_nacimiento date,
    peso_kg numeric(5,2),
    activo boolean DEFAULT true,
    CONSTRAINT mascotas_peso_kg_check CHECK ((peso_kg > (0)::numeric)),
    CONSTRAINT mascotas_sexo_check CHECK ((sexo = ANY (ARRAY['M'::bpchar, 'H'::bpchar])))
);


ALTER TABLE public.mascotas OWNER TO postgres;

--
-- Name: mascotas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mascotas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mascotas_id_seq OWNER TO postgres;

--
-- Name: mascotas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mascotas_id_seq OWNED BY public.mascotas.id;


--
-- Name: propietarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.propietarios (
    id integer NOT NULL,
    nombre character varying(80) NOT NULL,
    apellidos character varying(120) NOT NULL,
    email character varying(120) NOT NULL,
    telefono character varying(20),
    direccion character varying(200),
    fecha_registro date DEFAULT CURRENT_DATE,
    activo boolean DEFAULT true
);


ALTER TABLE public.propietarios OWNER TO postgres;

--
-- Name: propietarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.propietarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.propietarios_id_seq OWNER TO postgres;

--
-- Name: propietarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.propietarios_id_seq OWNED BY public.propietarios.id;


--
-- Name: servicios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.servicios (
    id integer NOT NULL,
    nombre character varying(80) NOT NULL,
    descripcion text,
    precio_base numeric(8,2) NOT NULL,
    duracion_minutos integer DEFAULT 30,
    CONSTRAINT servicios_duracion_minutos_check CHECK ((duracion_minutos > 0)),
    CONSTRAINT servicios_precio_base_check CHECK ((precio_base >= (0)::numeric))
);


ALTER TABLE public.servicios OWNER TO postgres;

--
-- Name: servicios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.servicios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.servicios_id_seq OWNER TO postgres;

--
-- Name: servicios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.servicios_id_seq OWNED BY public.servicios.id;


--
-- Name: veterinarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.veterinarios (
    id integer NOT NULL,
    nombre character varying(80) NOT NULL,
    apellidos character varying(120) NOT NULL,
    cedula_profesional character varying(20) NOT NULL,
    especialidad character varying(80),
    email character varying(120) NOT NULL,
    activo boolean DEFAULT true
);


ALTER TABLE public.veterinarios OWNER TO postgres;

--
-- Name: veterinarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.veterinarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.veterinarios_id_seq OWNER TO postgres;

--
-- Name: veterinarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.veterinarios_id_seq OWNED BY public.veterinarios.id;


--
-- Name: citas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas ALTER COLUMN id SET DEFAULT nextval('public.citas_id_seq'::regclass);


--
-- Name: mascotas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mascotas ALTER COLUMN id SET DEFAULT nextval('public.mascotas_id_seq'::regclass);


--
-- Name: propietarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.propietarios ALTER COLUMN id SET DEFAULT nextval('public.propietarios_id_seq'::regclass);


--
-- Name: servicios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicios ALTER COLUMN id SET DEFAULT nextval('public.servicios_id_seq'::regclass);


--
-- Name: veterinarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.veterinarios ALTER COLUMN id SET DEFAULT nextval('public.veterinarios_id_seq'::regclass);


--
-- Data for Name: citas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: citas_servicios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.citas_servicios (cita_id, servicio_id, precio_acordado, cantidad) FROM stdin;
1	1	350.00	1
1	2	200.00	1
2	1	350.00	1
3	6	600.00	1
4	1	350.00	1
5	5	1200.00	1
6	1	350.00	1
7	7	800.00	1
8	1	350.00	1
9	6	600.00	1
\.


--
-- Data for Name: mascotas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mascotas (id, propietario_id, nombre, especie, raza, sexo, fecha_nacimiento, peso_kg, activo) FROM stdin;
1	1	Max	Perro	Labrador	M	2020-05-15	25.50	t
2	2	Luna	Gato	Siam├⌐s	H	2021-08-20	4.20	t
3	3	Rocky	Perro	Bulldog	M	2019-11-10	22.00	t
4	4	Bella	Perro	Poodle	H	2022-02-28	6.50	t
5	5	Simba	Gato	Persa	M	2020-12-05	5.00	t
6	6	Coco	Perro	Chihuahua	M	2023-01-15	2.50	t
7	7	Nala	Gato	Mestizo	H	2021-06-30	3.80	t
8	8	Toby	Perro	Golden Retriever	M	2018-09-12	30.00	t
9	9	Milo	Perro	Beagle	M	2022-10-22	12.00	t
11	1	Firulais	Perro	Mestizo	M	2025-01-10	14.50	t
\.


--
-- Data for Name: propietarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: servicios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: veterinarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: citas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.citas_id_seq', 10, true);


--
-- Name: mascotas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mascotas_id_seq', 11, true);


--
-- Name: propietarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.propietarios_id_seq', 10, true);


--
-- Name: servicios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.servicios_id_seq', 10, true);


--
-- Name: veterinarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.veterinarios_id_seq', 10, true);


--
-- Name: citas citas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_pkey PRIMARY KEY (id);


--
-- Name: citas_servicios citas_servicios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas_servicios
    ADD CONSTRAINT citas_servicios_pkey PRIMARY KEY (cita_id, servicio_id);


--
-- Name: mascotas mascotas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mascotas
    ADD CONSTRAINT mascotas_pkey PRIMARY KEY (id);


--
-- Name: propietarios propietarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.propietarios
    ADD CONSTRAINT propietarios_email_key UNIQUE (email);


--
-- Name: propietarios propietarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.propietarios
    ADD CONSTRAINT propietarios_pkey PRIMARY KEY (id);


--
-- Name: servicios servicios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicios
    ADD CONSTRAINT servicios_pkey PRIMARY KEY (id);


--
-- Name: veterinarios veterinarios_cedula_profesional_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.veterinarios
    ADD CONSTRAINT veterinarios_cedula_profesional_key UNIQUE (cedula_profesional);


--
-- Name: veterinarios veterinarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.veterinarios
    ADD CONSTRAINT veterinarios_email_key UNIQUE (email);


--
-- Name: veterinarios veterinarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.veterinarios
    ADD CONSTRAINT veterinarios_pkey PRIMARY KEY (id);


--
-- Name: citas citas_mascota_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_mascota_id_fkey FOREIGN KEY (mascota_id) REFERENCES public.mascotas(id) ON DELETE CASCADE;


--
-- Name: citas_servicios citas_servicios_cita_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas_servicios
    ADD CONSTRAINT citas_servicios_cita_id_fkey FOREIGN KEY (cita_id) REFERENCES public.citas(id) ON DELETE CASCADE;


--
-- Name: citas_servicios citas_servicios_servicio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas_servicios
    ADD CONSTRAINT citas_servicios_servicio_id_fkey FOREIGN KEY (servicio_id) REFERENCES public.servicios(id) ON DELETE RESTRICT;


--
-- Name: citas citas_veterinario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_veterinario_id_fkey FOREIGN KEY (veterinario_id) REFERENCES public.veterinarios(id) ON DELETE RESTRICT;


--
-- Name: mascotas mascotas_propietario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mascotas
    ADD CONSTRAINT mascotas_propietario_id_fkey FOREIGN KEY (propietario_id) REFERENCES public.propietarios(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--
